
/* CSS Document */

@import url("normalize.css");
@import url(http://fonts.googleapis.com/css?family=Glegoo:700);
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url('https://fonts.googleapis.com/css?family=Roboto');


/*KEYFRAMES =================================*/	


body {
	background:url(../images/supermario_bg.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	width:100%;
	font-family: 'Roboto', sans-serif;
}
	
h1, h2, h3, h4, h5, h6 {
	font-family: 'Glegoo', serif;
	margin:10px;
}		
	
a, a:hover, a:visited {
	text-decoration:none;
}	
	
#container {
	width:70%;
	margin: 0 auto;
}
	
header {
	height:70px;
	background-color:rgba(0,0,51,1);
}
	
.header-image{
	padding-top: 10px;
	padding-left:2%;
	width:13%;
	float:left;
}	

#mobMenuTrigger {
	display:none;
}
	
.main-menu { 
	margin-top:5px;
	margin-bottom:5px;
	width:85%;
	float:left;
}	
	
.menu-list{
	list-style: none;
	margin:0;
	padding:0;
}
	
.main-li{
	display:inline-block;
	padding:10px;
	margin:5px;
	float:right;
}

.main-li.active {
	border-bottom:1px solid white;
}
		
	
.main-li a {
	font-family: 'Comfortaa', cursive;
	color:#fff;
	padding:10px;
	transition: color .4s;
}	
	
.main-li a:visited {
	color:#fff;
}		
	
.main-li a:hover {
	color:rgba(255,255,255,0.5)
}	
	
.clearfix {
	clear:both;
}		
	
#image {
	background-image:url(../images/sm_family.jpg);
	height:100px;
	margin-top:10px;
	background-position: left top;
}	

	
h1 {
	line-height:100px;
	margin-left:20px;
	color:#fff;
}


#page {
	width:100%;
}


.wrap-main {
	overflow: hidden
}

	
main {
	display:block;
	background-color:#fff;
	float:left;
	width:78%;
	margin-top:10px;
	padding-bottom:2000px;
	margin-bottom:-2000px;
	margin-right:2%;
}	
	
	main h2 {
		font-size:1.2em;
		background-color: rgba(0,0,51,1);
		box-shadow: 0px 1px 5px black;
		color:white;
		padding:10px;
		margin:0;
	}		
		
	main p {
		font-size:0.9em;
		padding:0 10px;
		line-height: 1.5em;
	}	
	
	
aside { 
	display:block;
	width:20%;
	float:left;
	background-color:#fff;
	margin-top:10px;
	padding-bottom:2000px;
	margin-bottom:-2000px;
	text-align:center;
}	
	
	aside h3 {
		font-size:1.1em;
		margin:10px;
	}

	aside p {
		padding:10px;
		font-size:0.9em;
		text-align:left;
	}
	
	
/*YOSHI ANIMATION*/

.rotate:hover {
	-webkit-animation: rotate 2s infinite;
	-moz-animation: rotate 2s infinite;
	-o-animation: rotate 2s infinite;
	animation: rotate 2s infinite;
}
	
@-webkit-keyframes rotate {
	100%{-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	100%{-moz-transform: rotate(360deg);}
}

@-o-keyframes rotate {
	100%{-o-transform: rotate(360deg);}
}
	
@keyframes rotate {
	100%{transform: rotate(360deg);}
}	
	

/*BOTTOM MAIN */ 
	
#bottom-boxes { 
	overflow:hidden;
}		

h4 {
	padding:0 10px;
	margin: 0;
}
	
.minibox{
	background-color:#FFF;
	float:left;
	width:25%;
	margin-right:1%;
	margin-top:10px;
	padding:5px;
	box-sizing:border-box;
	padding-bottom:2000px;
	margin-bottom:-2000px;
}	

	.box-image {
		text-align: center;
	}
	
	.minibox ul {
	list-style:none;
	margin:0;
	padding:0
	}		
	
	.news-li {
	margin:10px;
	}		
	
	
	.news-li a {
	font-size: 0.8em;
	text-decoration:none;
	color:#009;
	transition: color .4s;
	}	
	
	.news-li a:hover {
	text-decoration:underline;
	color:#000;
	}	
	
	
.box {
	background-color:#FFF;
	float:left;
	width:48%;
	margin-top:10px;
	padding:5px;
	text-align:center;
	box-sizing:border-box;
	padding-bottom:2000px;
	margin-bottom:-2000px;
}	

/*GUESS CHARACTER */ 

.ch {
	width:60px;
	height:100px;
	display:inline-block;
	margin-top:10px;
}

#mario, #yoshi, #princess, #goomba, #toad {
	transition: transform .4s;
}

#mario:hover, #yoshi:hover, #princess:hover, #goomba:hover, #toad:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

#mario {
	background-image:url(../images/character.png);
	background-position:240px -112px;
}

#mario:hover, #mario:active {
	background-image:url(../images/character.png);
	background-position:240px 0px;
}

	
#yoshi:hover, #yoshi:active{
	background-image:url(../images/character.png);
	background-position:120px 0px;
}
	
#yoshi {
	background-image:url(../images/character.png);
	background-position:120px -112px;
}	

#princess:hover, #princess:active {
	background-image:url(../images/character.png);
	background-position:0px 0px;
}
	
#princess {
	background-image:url(../images/character.png);
	background-position:0px -112px;
}	
	
#goomba:hover, #goomba:active {
	background-image:url(../images/character.png);
	background-position:179px 0px;
}
	
#goomba {
	background-image:url(../images/character.png);
	background-position:179px -111px;
}	
	
#toad:hover, #toad:active {
	background-image:url(../images/character.png);
	background-position:60px 0px;
}
	
#toad {
	background-image:url(../images/character.png);
	background-position:60px -112px;
}		

/* FOOTER */ 
	
footer {
	background-color:rgba(0,0,51,1);
	padding:10px;
	margin-top:10px;
	position: relative;
}	
	
footer p {
	text-align:center;
	color:#fff;
	font-size:0.7em;
}	

footer a {
	color:white;
}

footer a:hover {
	text-decoration:underline;
}
	
	
	/*SOCIAL MEDIA BUTTONS ========================================== */
	
.fixedsocial {
	text-align:center; 
}
	
.sm {
	width:50px;
	height:50px;
	display:inline-block;
}	
	

@-webkit-keyframes flipit { 
	0% { -webkit-transform: rotateY(0deg); }
	100% { -webkit-transform: rotateY(360deg); }
}

@-moz-keyframes flipit { 
	0% { -moz-transform: rotateY(0deg); }
	100% { -moz-transform: rotateY(360deg); }
}

@-o-keyframes flipit { 
	0% { -o-transform: rotateY(0deg); }
	100% { -o-transform: rotateY(360deg); }
}

@keyframes flipit { 
	0% {transform:rotateY(0deg)}
	100% {transform:rotateY(360deg)}
}

#fb:hover, #tw:hover, #in:hover, #pin:hover {
	-webkit-animation:flipit 1s ease-in-out;
	-moz-animation:flipit 1s ease-in-out;
	-o-animation:flipit 1s ease-in-out;
    animation:flipit 1s ease-in-out;
    cursor:pointer;
}

#fb {
	background-image:url(../images/sm/sm_image.png);
	background-position: 3px 0px;
}	
	
#fb:hover {
	background-image:url(../images/sm/sm_image.png);
	background-position: 2px -57px;
}		
		
#tw {
	background-image:url(../images/sm/sm_image.png);
	background-position: 50px 0px;
}		
	
#tw:hover {
	background-image:url(../images/sm/sm_image.png);
	background-position: 49px -57px;
}		
	
#in {
	background-image:url(../images/sm/sm_image.png);
	background-position: 150px 0px;
}		
	
#in:hover {
	background-image:url(../images/sm/sm_image.png);
	background-position: 149px -57px;
}	
	
	
#pin {
	background-image:url(../images/sm/sm_image.png);
	background-position: -50px 0px;
	}		
	
#pin:hover {
	background-image:url(../images/sm/sm_image.png);
	background-position: -51px -57px;
}							

/*Take to top - button // only visible >768px */
.to-top {
	display: none;
}


/*---- NEWS -----*/

article {
	box-sizing: border-box;
	margin-bottom:20px;
}

.article-title {
	width:100%;
}

.article-title h3 {
	border-bottom: 2px solid rgba(0,0,51,1);
	margin:0;
	padding:10px;
	font-size: 1em;
}

.article-btn {
	cursor: pointer;
}

.article-copy {
	display:none;
}

.article-copy.open-article {
	display:block;
}

.article-copy p {
	margin-left:10px;
}

/*MARIO ANIMATION */ 

.mario-jump {
	padding:0 40px;
}

.mario-jump:hover{
	-webkit-animation:jump .5s infinite ease-in-out;
	-moz-animation:jump .5s infinite ease-in-out;
	-o-animation:jump .5s infinite ease-in-out;
	animation: jump .5s infinite ease-in-out;
}

@-webkit-keyframes jump {
	0%{-webkit-transform: translateY(0px);}
	50%{-webkit-transform: translateY(-20px);}
	100%{-webkit-transform: translateY(0px);}
}

@-moz-keyframes jump {
	0%{-moz-transform: translateY(0px);}
	50%{-moz-transform: translateY(-20px);}
	100%{-moz-transform: translateY(0px);}
}

@-o-keyframes jump {
	0%{-o-transform: translateY(0px);}
	50%{-o-transform: translateY(-20px);}
	100%{-o-transform: translateY(0px);}
}	
	
@keyframes jump{
	0%{transform: translateY(0px);}
	50%{transform: translateY(-20px);}
	100%{transform: translateY(0px);}
}	


/*---- GAMES ---*/
	
.image-wrap {
	text-align: center;
}

.image-wrap a{
	display: block;
	color:black;
	background-color: white;
	border:1px #ccc solid;
	margin:10px auto;
	padding:10px 55px;
	transition: background-color .2s ease-in-out;
	width:50%
}

.image-wrap a:hover {
	background-color:rgba(0,0,51,1);
	color:white;
}


.align-center {
	margin-bottom: 20px;
	width: 80%
}

.slide-in {
    opacity:0;
    transition:all .5s ease-out;
  }

.align-center.slide-in {
	-webkit-transform:translateX(30%) scale(0.95);
	-moz-transform:translateX(30%) scale(0.95);
	-ms-transform:translateX(30%) scale(0.95);
	-o-transform:translateX(30%) scale(0.95);
	transform:translateX(30%) scale(0.95);

}

.slide-in.active {
	opacity:1;
	-webkit-transform:translateX(0%) scale(1);
	-moz-transform:translateX(0%) scale(1);
	-ms-transform:translateX(0%) scale(1);
	-o-transform:translateX(0%) scale(1);
	transform:translateX(0%) scale(1);
}

/*GOOMBA ANIMATION*/

.stomp{
	padding:0 20px;
}

.stomp:hover{
	-webkit-animation: stomped 1.5s 1;
	-moz-animation: stomped 1.5s 1;
	-o-animation: stomped 1.5s 1;
	animation: stomped 1.5s 1;
	transform-origin: center bottom;
}

@-webkit-keyframes stomped {
	0%{-webkit-transform: rotateX(0deg);}
	50%{-webkit-transform: rotateX(90deg);}
	100%{-webkit-transform: rotateX(0deg);}
}		

@-moz-keyframes stomped {
	0%{-moz-transform: rotateX(0deg);}
	50%{-moz-transform: rotateX(90deg);}
	100%{-moz-transform: rotateX(0deg);}
}

@-o-keyframes stomped {
	0%{-o-transform: rotateX(0deg);}
	50%{-o-transform: rotateX(90deg);}
	100%{-o-transform: rotateX(0deg);}
}

@keyframes stomped{
	0%{transform: rotateX(0deg);}
	50%{transform: rotateX(90deg);}
	100%{transform: rotateX(0deg);}
}	


/*-----VIDEOS ------*/

.videos {
	text-align: center;
	margin-bottom:30px;
}

.vid-trailer {
	width:80%;
	height: 300px;
	border:10px solid rgba(0,0,51,1);
	margin:20px 0;
}

/*PRINCESS PEACH ANIMATION*/ 
.peach {
	padding:0 40px;
}

.peach:hover{
	-webkit-animation: movePeach 1.5s infinite;
	-moz-animation: movePeach 1.5s infinite;
	-o-animation: movePeach 1.5s infinite;
	animation: movePeach 1.5s infinite;
}

@-webkit-keyframes movePeach {
	0%{-webkit-transform: translateX(0px);}
	30%{-webkit-transform: translateX(20px);}
	60%{-webkit-transform: translateX(-20px);}
	100%{-webkit-transform: translateX(0px);}
}

@-moz-keyframes movePeach {
	0%{-moz-transform: translateX(0px);}
	30%{-moz-transform: translateX(20px);}
	60%{-moz-transform: translateX(-20px);}
	100%{-moz-transform: translateX(0px);}
}		

@-o-keyframes movePeach {
	0%{-o-transform: translateX(0px);}
	30%{-o-transform: translateX(20px);}
	60%{-o-transform: translateX(-20px);}
	100%{-o-transform: translateX(0px);}
}		

@keyframes movePeach{
	0%{transform: translateX(0px);}
	30%{transform: translateX(20px);}
	60%{transform: translateX(-20px);}
	100%{transform: translateX(0px);}
}	


/*---- ABOUT ----*/ 


/* TOAD ANIMATION */

.skewT {
	padding:0 50px;
}

.skewT:hover{
	-webkit-animation: skewToad .8s infinite;
	-moz-animation: skewToad .8s infinite;
	-o-animation: skewToad .8s infinite;
	animation: skewToad .8s infinite;
	transform-origin: center bottom;
}

@-webkit-keyframes skewToad {
	0%{-webkit-transform: skewY(0deg);}
	30%{-webkit-transform: skewY(20deg);}
	60%{-webkit-transform: skewY(-20deg);}
	100%{-webkit-transform: skewY(0deg);}
}

@-moz-keyframes skewToad {
	0%{-moz-transform: skewY(0deg);}
	30%{-moz-transform: skewY(20deg);}
	60%{-moz-transform: skewY(-20deg);}
	100%{-moz-transform: skewY(0deg);}
}

@-o-keyframes skewToad {
	0%{-o-transform: skewY(0deg);}
	30%{-o-transform: skewY(20deg);}
	60%{-o-transform: skewY(-20deg);}
	100%{-o-transform: skewY(0deg);}
}	

@keyframes skewToad{
	0%{transform: skewY(0deg) skewX(0deg) translateY(0px);}
	30%{transform: skewY(20deg) skewX(-10deg) translateY(-40px);}
	60%{transform: skewY(-20deg) skewX(10deg);}
	100%{transform: skewY(0deg) skewX(0deg) translateY(0px);}
}	


/*---- CONTACT PAGE ----*/

/*main */ 
.contact {
	width:58%;
}

#contactForm {
	margin:20px 0 10px 10px;
}

.ctc-lbl {
	display:block;
	width:70%;
}

.ctc-input, .ctc-message, .ctc-btn {
	border:#ccc 1px solid;
}

.ctc-input {
	box-shadow: none;
	margin:5px 0 10px 0;
	padding:10px;
	width:70%;
	box-sizing: border-box;
}

.ctc-message {
	padding:10px;
	display: block;
	max-width: 70%; 
}

.ctc-input:focus, .ctc-message:focus {
	border:none;
	border-bottom:2px solid rgba(0,0,51,1);
}

.ctc-btn {
	background-color: white;
	margin:10px 0;
	padding:10px 55px;
	transition: background-color .2s ease-in-out;
}

.ctc-btn:hover {
	background-color:rgba(0,0,51,1);
	color:white;
}

.thankyou {
	padding:20px;
}

/* aside */ 
.find-us {
	text-align: left;
	width:40%;
}

.address {
	margin:0 10px;
	padding:0;
	font-size: 0.9em;
}


/*-----MEDIA QUERIES -----*/
/*-----1060px / 768px / 480px-----*/


@media only screen and (max-width:1060px) {

	#container {
		width:90%;
	}

	.header-image {
		width:20%;
	}

	.main-menu {
		width:78%;
	}

	.main-li {
		padding:10px 0;
		margin:5px 0;
	}

	main {
		width:68%;
	}

	aside {
		width:30%;
	}


	.minibox{
		width:49%;
		margin-right:0;
		padding-bottom:0px;
		margin-bottom:10px;
		height:250px;
	}	

	.box-image {
		margin-right:2%;
	}
	

	.box {
		float:none;
		clear: both;
		width:100%;
		padding:5px;
		padding-bottom:0px;
		margin-bottom:0px;
	}	

}/* --------END MEDIA QUERY 1060px*/

@media only screen and (max-width:768px) {

	body {
	background:url(../images/supermario_bg800.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	}

	.header-image {
		width:20%;
	}

	#mobMenuTrigger {
		display:block;
	}

	a#mobMenuTrigger {
		position:relative;
		top:2px;
		right:5px;
		z-index:9999;
	}

	.hamburger {
		position:absolute;
		top:10px;
		right:30px;
		margin:0 auto;
	}

	.line {
		background-color:#fff;
		width:40px;
		height:3px;
		margin:10px auto;
		transition: 0.2s ease-in;
	}

	.active-menu .line:nth-child(1) {
		-webkit-transform: translateY(18px) rotate(45deg);
		-moz-transform: translateY(18px) rotate(45deg);
		-ms-transform:translateY(18px) rotate(45deg);
		-o-transform: translateY(18px) rotate(45deg);
		transform: translateY(18px) rotate(45deg);
	}

	.active-menu .line:nth-child(2) {
		opacity:0;
	}

	.active-menu .line:nth-child(3) {
		-webkit-transform: translateY(-9px) rotate(-45deg);
		-moz-transform: translateY(-9px) rotate(-45deg);
		-ms-transform:translateY(-9px) rotate(-45deg);
		-o-transform: translateY(-9px) rotate(-45deg);
		transform: translateY(-9px) rotate(-45deg);
	}

	.main-menu {
		position: absolute;
		width:90%;
		top:-350px;
		background:rgba(0,0,51,1);
		transition: .4s ease-out;
	}

	.main-menu.open-menu {
		top:0;
	}

	.main-menu ul {	/*reversing list of menu items */
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform:rotate(180deg);
		-o-transform: rotate(180deg);
	    transform: rotate(180deg);
	    margin-top:50px;
	}

	.main-li {
		display:block;
		float:none;
		padding:10px;
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform:rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
	}

	main {
		width:100%;
		float:none;
		padding-bottom: 10px;
		margin-bottom:15px;
	}

	main p {
		font-size: 0.9em;
	}

	aside {
		width:100%;
		float:none;
		padding-bottom: 0;
		margin-bottom:0;
	}

	aside p {
		max-width:80%;
		margin: 0 auto;
		font-size: 0.9em;
		text-align: center;
	}

	.news-li {
		text-align: left;
		margin:15px 10px;
	}

	.news-li a {
		font-size: 1em;
		text-decoration: underline;
	}
	

	/*CONTACT */

	.contact { /*main*/
		width:100%;
	}

	.find-us{ /*aside*/
		width:100%;
		padding-bottom: 15px;
	}

	.address {
		text-align: left;
	}
	
	.to-top {
		display: block;
		position: absolute;
		top:0px;
		right:0px;
		background-color: white;
		width:50px;
		height: 50px;
		text-align: center;
		box-shadow: 2px 2px 5px rgba(0,0,51,0.4);
	}

	.to-top a {
		color:rgba(0,0,51,1);
		font-size: 2em;
	}

	.to-top a:hover {
		color:rgba(0,0,51,0.7);
	}


	footer p {
	font-size:0.9em;
	}	


	footer a {
	text-decoration:underline;
	}

	.fixedsocial {
	text-align:left; 
	}


}/* --------END MEDIA QUERY 768px*/


@media only screen and (max-width:480px) {

	body{
	background:url(../images/supermario_bg480.jpg);
	background-repeat: no-repeat;
	background-attachment:local;
	background-position:center;
	background-size:cover;
	}
	.header-image {
		width:30%;
	}

	aside {
		margin-bottom:15px;
	}

	.minibox {
		width:100%;
		height: 200px;
		margin:0 0 15px 0;
		text-align: center;
	}

	#toad {
		display:none;
	}

	.vid-trailer {
		height: 100%;
	}

}
