/* CSS Document */
@import 'https://fonts.googleapis.com/css?family=Noto+Sans';

body {background:#33cccc;font-family: 'Noto Sans', sans-serif; color:black;}
header, footer{color:white; height:40px; text-align:center; background:#33cccc;}

h1,h2,h3 {font-weight:bold;}
h2,h3,p{ padding:5px 2%;line-height:1.6em;}
h1{font-size:1.5em; margin:5px 0; }
h2{font-size:1.2em;}
h3{font-size:1em;}
p{font-size:0.8em;}

a{color:black; text-decoration:underline;}
a:hover{text-decoration:underline;}

#container{width:95%; background:white; margin: 0 auto;}

aside {width:80%; margin:10px auto;}

main {width:80%; display:block; margin:0 auto;}
.head-title {width:100%; height:30px; border-bottom:#33cccc solid 2px; padding:5px 0; margin:10px 0;}
main ul {list-style:circle; margin-left:40px; font-size:0.8em;line-height:1.6em;}
main li {margin:10px 0;}

footer {margin:10px 0;}
footer a{color:white; font-size:1em;}

@media screen and (min-width: 600px) {
	
#container {width:80%;}
p{font-size:0.9em;}
aside{display:inline-block; width:35%; margin:0;vertical-align:top; margin:10px 2%;}

main {width:50%; margin:10px 2%; display:inline-block}
main ul {font-size:0.9em;;}
.clear {clear:both;}


/*#sun {
    background: yellow;
    width: 50px;
    height: 50px;
    position: relative;
	top:20px;
	left:100px;
    text-align: center;
    -webkit-transform: rotate(20deg);
       -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
         -o-transform: rotate(20eg);
}
#sun:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background: yellow;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}*/
}